In [1]:
# Import the dependency.
import pandas as pd

In [6]:
 # Set the column width
pd.options.display.max_colwidth = 200
#  Read in the dataset. 
trips_df = pd.read_csv("Resources/may23_citibike.csv")
trips_df.head()

C:\Users\lruss\AppData\Local\Temp\ipykernel_10528\4126113254.py:4: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  trips_df = pd.read_csv("Resources/may23_citibike.csv")

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member

In [8]:
trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3580766 entries, 0 to 3580765
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 355.1+ MB

In [9]:
# Convert datatype in started at to datetime
trips_df['started_at'] = pd.to_datetime(trips_df['started_at'])
# Convert datatype in ended at and ended at to datetime
trips_df['ended_at'] = pd.to_datetime(trips_df['ended_at'])

trips_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3580766 entries, 0 to 3580765
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 355.1+ MB

In [11]:
 # Rename the columns. 
trips_df.rename(columns={'started_at': "starting date_time",
                            'ended_at': "ending date_time",
                            'rideable_type': "bike_type",
                            'member_casual': 'membership_or_casual'}, inplace=True)
trips_df.head()

,ride_id,bike_type,starting date_time,ending date_time,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,membership_or_casual
0,176B188F3289F37B,classic_bike,2023-05-23 19:22:53,2023-05-23 19:35:23,E 50 St & Park Ave,6659.10,E 74 St & 1 Ave,6953.08,40.757306,-73.974518,40.768974,-73.954823,member
1,BB6957A02501C686,classic_bike,2023-05-27 08:49:55,2023-05-27 08:57:42,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member
2,C67567E1DAFB9F2C,classic_bike,2023-05-12 20:19:58,2023-05-12 20:36:07,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
3,89DDFCEAE05D043A,electric_bike,2023-05-03 07:59:13,2023-05-03 08:07:04,Flatbush Ave & Ocean Ave,3704.04,3 St & 7 Ave,3905.15,40.663657,-73.963014,40.670384,-73.978397,member
4,63B1D5A7A2316252,classic_bike,2023-05-13 10:23:52,2023-05-13 10:47:17,Flatbush Ave & Ocean Ave,3704.04,Grand Army Plaza & Plaza St West,4010.15,40.663657,-73.963014,40.672968,-73.970880,member

In [12]:
trips_df.count()

ride_id                 3580766
bike_type               3580766
starting date_time      3580766
ending date_time        3580766
start_station_name      3580196
start_station_id        3580196
end_station_name        3572271
end_station_id          3572271
start_lat               3580766
start_lng               3580766
end_lat                 3577757
end_lng                 3577757
membership_or_casual    3580766
dtype: int64

In [13]:
# Drop all rows with missing information
trips_df = trips_df.dropna(how='any')

In [14]:
trips_df.count()

ride_id                 3572271
bike_type               3572271
starting date_time      3572271
ending date_time        3572271
start_station_name      3572271
start_station_id        3572271
end_station_name        3572271
end_station_id          3572271
start_lat               3572271
start_lng               3572271
end_lat                 3572271
end_lng                 3572271
membership_or_casual    3572271
dtype: int64

In [15]:
# Export file as a CSV, without the Pandas index, but with the header
trips_df.to_csv("Resources/cleanedData.csv", index=False, header=True)